:root {
    --azul-escuro: #013557;
    --laranja: #d48b33;
    --bege: #ffe0a1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../Diversos/images/regimen-de-propiedad-en-condominio\ \(1\).jpg'); /*corpo do site*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(4px);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--bege);
}

body, html {
    width: 100%;  /*config do corpo do site*/
    height: 100%;
    overflow-x: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    position: absolute; /*cabeçalho*/
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: rgba(1, 53, 87, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    position: absolute; /*logo da condominium*/
    top: 10px; 
    left: 10px; 
    width: 100px;
    height: 100px;
    background-image: url("../Diversos/images/logo\ \(1\).jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 50%;
}

.cadastro-container {
    background-color: var(--laranja); /*bloco de cadastro*/
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 15vh;
}

.container {
    width: 100vw; /*config de posicao de bloco de cadastro*/
    height: 100vh; 
    position: relative;
}

.cadastro {
    color: var(--azul-escuro); /*modificacao do titulo de cadastro*/
    font-weight: bolder;
}

h2 {
    margin-bottom: 20px; /*posicao do nome de cadastro*/
}

form {  
    display: flex; /*config de form*/
    flex-direction: column;
}

label {
    margin-top: 10px; /*nomenclatura do form*/
    color: var(--azul-escuro);
    font-weight: bolder;
}

input[type="text"],
input[type="email"],input[type="password"] {
    padding: 10px; /*blocos de texto do form*/
    border: 1px solid var(--azul-escuro);
    border-radius: 6px;
    width: 100%;
}

.list {
    display: flex; /*estilizacao da lista de salas*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.list button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
}

button {
    margin-top: 20px; /*botao de cadastro*/
    padding: 20px;
    background-color: var(--azul-escuro);
    color: var(--bege);
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--bege); /*alteracao de cor do botao*/
    color: var(--azul-escuro);
}

footer {
    background-color: rgba(1, 53, 87, 0.8); /*rodape*/
    margin-top: 5vh;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.hr{
    color: white; /* © 2024 Company, Inc.*/
    text-align: left;
}

.redes.socias{ /*logo das redes sociais*/
color: white;
}